body{
    font-family:system-ui, -apple-system, 'Helvetica Neue', sans-serif;
    background: #222;
}


header{
    height: 50px;
    background-color:black ;
    color: #ccc;
    position: fixed;
    width: 100%;
    margin: 0 auto;
}   

.logo{
    width: 50px;
    height: 50px;
    padding-top: 5px;
    margin: 5px 20px 5px 20px;
    float: left;
    text-align: center;
}

ul{     
    margin: 0 auto;
}
li{
    display: inline;  
    padding: 0 5px;
}
a{
    color: #ccc;
    text-decoration: none;
}
a:hover{
    color: #ffffff;
}
.dps{
    float: left;
   display: inline;
   position: relative;
   top: 20px
}

.ftp{
    float:right;
    position: relative;
    top:20px;
}

.seccio{
    color:#ffffff;
    padding-top: 50px;
}

.peli{
    width: 175px;
    height: 300px;
    display: inline-block;
    margin:  0px 10px 0px 10px;
    border-radius: 5px;
}
.img{
    height: 260px;
    width: 175px;
    border-radius: 5px;
}

.titol{
    color: #ccc;
    font-size: 14px;
    margin-bottom: 5px;
}

.any{
    color: #ccc;
    font-size: 11px;
    float: left;
}

.categoria{
    color: #ccc;
    font-size: 11px;
    float: right;
}
.peli:hover{
    opacity: 50%;
}